.user-icon {
    background-color: #4fc3f7;
    font-size: 1.3rem;
}

.subtitle {
    font-size: 0.8rem;
}

a:hover {
    text-decoration: underline !important;
}

.icon {
    font-size: 1.3rem;
    width: 1.5rem;
    height: 1.3rem;
}
